.family-tree div {
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 20px;

}